<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722619137798-l58e4qk94sfu7ugbesa8hkh6en3pdq2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722619137798-l58e4qk94sfu7ugbesa8hkh6en3pdq2q</string>
	<key>API_KEY</key>
	<string>AIzaSyCi2Y81XyPROtdgqdFi06d_E8K2gNhhVUU</string>
	<key>GCM_SENDER_ID</key>
	<string>722619137798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tls.edu.pe.CannaMed</string>
	<key>PROJECT_ID</key>
	<string>tls-cannamed</string>
	<key>STORAGE_BUCKET</key>
	<string>tls-cannamed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722619137798:ios:6e6ffc0cf415b9027f2887</string>
	<key>DATABASE_URL</key>
	<string>https://tls-cannamed.firebaseio.com</string>
</dict>
</plist>